<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
  
  
  <script>
	function dianLogin(){
		$('#myModal').modal('show');
	}
  </script>
 </head>
 <body>
 <div class="container">
 {%include 'admin/adminHead.html'%}
 		<div id="table_body" class='row'>
			<div id="ul_td_left" class="col-md-3 col-sm-3 col-xs-3">
				{% include "admin/adminLeft.html" %}
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
			</div>
			<div id='right_div' class="col-md-8 col-sm-8 col-xs-8">
				<div>
					<table class="table">
                      <thead>
                        <tr>
                          <th>餐厅名称</th>
                          <th>餐厅地址</th>
                          <th>联系电话</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        {% for item in applist %}
                        <tr>
                            <td>{{item.shopname}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.tel}}</td>
                            <td><a href='shopinfo?shopid={{item._id}}'>查看</a></td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>

				</div>	
			</div>
		</div>
</div>
</body>
</html>