<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
  
  
  <script>
	// function dianLogin(){
	// 	$('#myModal').modal('show');
	// }
  function agree(){
    if(confirm('确认通过此餐厅的审核？')){
      location.href='agreeShopApply?shopid={{rs._id}}&uid={{rs.uid}}';
    }

  }
  function refuse(){
    $('#myModal').modal('show');

  }
  function subRefuse(){
    refuseForm.submit();
  }
  </script>
 </head>
 <body>
 <div class="container">
 {%include 'admin/adminHead.html'%}
 		<div id="table_body" class='row'>
			<div id="ul_td_left" class="col-md-3 col-sm-3 col-xs-3">
				{% include "admin/adminLeft.html" %}
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
			</div>
			<div id='right_div' class="col-md-8 col-sm-8 col-xs-8">
				<div>
          <table width="100%">
            <tr>
              <td>餐厅名称:</td>
              <td>{{rs.shopname}}</td>
              <td>联系电话:</td>
              <td>{{rs.tel}}</td>
              <td><a href='/applyList'>返回</a></td>
            </tr>
            <tr>
              <td>地址:</td>
              <td colspan='4'>{{rs.address}}</td>
              
            </tr>
            <tr>
              <td>身份证照片:</td>
              <td colspan='4'><img src="{{rs.idcard}}" width="200px" height="150px"/></td>              
            </tr>
            <tr>
              <td>手持身份证照片:</td>
              <td colspan='4'><img src="{{rs.ownercard}}" width="200px" height="150px"/></td>              
            </tr>
            <tr>
              <td>营业执照照片:</td>
              <td colspan='4'><img src="{{rs.blicense}}" width="200px" height="150px"/></td>              
            </tr>
            <tr>
              <td>卫生许可证照片:</td>
              <td colspan='4'><img src="{{rs.hlicense}}" width="200px" height="150px"/></td>              
            </tr>
            <tr>
                <td><input type="button" class="btn btn-primary" onclick='agree()' value="同意"/></td>
                <td colspan="4" align="center"><input type="button" class="btn btn-primary" onclick="refuse()" value="驳回"/></td>
              </tr>


          </table>

					

				</div>	
			</div>
		</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">驳回理由</h4>
            </div>
            <form name='refuseForm' method="post" action='/refuseShopApply'>
              <textarea style="width: 81%" rows="6" name='msg'></textarea>
              <input type='hidden' name='shopid' value='{{rs._id}}'/>
              <input type='hidden' name='uid' value='{{rs.uid}}'/>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="subRefuse()">驳回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>