<script>
	function addSort(){
		$('#myModal').modal('show');
	}
	function updatashow(thisa,sortid){
		updSortForm.sortid.value = sortid;
		updSortForm.sortname.value = thisa.parentElement.parentElement.children[0].innerText;
		$('#updatadiv').modal('show');
	}
</script>
<button type="button" class="btn btn-primary" onclick="addSort()">创建分类</button>编号：{{flowid}}
<table class="table">
	<thead>
		<tr>
			<th>类名</th>
			<th>操作</th>
			
		</tr>
	</thead>
	<tbody>
		{% for item in sortList %}
		<tr>
			<td>{{item.sortname}}</td>
			<td>
				<a href="javascript:void" onclick="updatashow(this,'{{item._id}}')">修改</a>
				<a href="/deletesort?sortid={{item._id}}">删除</a>
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style='width:720px;'>
            <div class="modal-header">
				创建分类
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style='text-align: center'>
				<form method="post" action='/addSort'>
					分类名称:<input type='text' name='sortname' class="form-control"/><br/>
					<input type='hidden' name='shopid' value='{{shopid}}'/>
					<button type="submit" class="btn btn-primary">创建</button>
				</form>
			</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- -->
<div class="modal fade" id="updatadiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改类名</h4>
            </div>
            <div class="modal-body">
            	<form name='updSortForm' method="post" action="updataDish">
				 	分类名称:
				   <input type="text" name="sortname" class="form-control" placeholder="请输入类名"><br/>
				   <input type="hidden" name="sortid">
				   <button type="submit" class="btn btn-primary">提交</button>
				</form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
